.cmdk {
  position: fixed;
  top: 50%;
  left: 50%;
  /*transform: translate(-50%, -50%) ;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.cmdk [cmdk-input] {
  width: 100%;
  font-size: 12px;
  outline: none;
  color: #333;
  caret-color: #000;
  border-radius: 999px;
}

.cmdk [cmdk-input]::placeholder {
  color: #ccc;
  font-size: 12px;
}

.cmdk [cmdk-item] {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

.cmdk [cmdk-item][aria-selected="true"] {
  background: rgba(0, 0, 0, 0.046);
  /* transform: scale(1.02); */
}

.cmdk [cmdk-item][aria-disabled="true"] {
  color: var(--gray8);
  cursor: not-allowed;
}

.cmdk [cmdk-item]:active {
  transition-property: background;
  background: var(--gray4);
}

.cmdk [cmdk-list] {
  width: 100%;
  overscroll-behavior: contain;
  scroll-padding-block-end: 40px;
  border-radius: 32px;
  min-height: 300px;
  max-height: 500px;
  transition: height 100ms ease;
}

.cmdk [cmdk-group-heading] {
  user-select: none;
  font-size: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
