@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --size: 1500;
  --cmdk-shadow: 0 16px 70px rgb(0 0 0 / 20%);
  --cmdk-shadow-2: 0px 2px 23px rgba(0, 0, 0, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.verticalLine {
  border-left: 1px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
}

.blurred {
  filter: blur(2px);
  transition: filter 0.7s;
}

.pointer-events-none {
  pointer-events: none;
}

/* Reply Right Side Fade Effect for Threads */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animate-color-width {
  transition: background-color 0.5s ease, width 0.5s ease;
}

.previous-page {
  position: absolute;
  opacity: 0.3; /* adjust as needed */
  z-index: -20;
}
