/* inspired form gumroad website */
.buttonInner {
  display: flex;
  align-items: center;
  min-width: 5rem;
  border: 1px solid #0000001f;
  border-radius: 30px;
  transition: background-color 0.2s;
  padding: 1px;
  background-color: inherit;
}

.buttonInner:hover {
  color: white;
  background-color: black;
  fill: black;
  cursor: pointer;
}

.buttonLabel {
  line-height: 1.4;
  text-transform: lowercase;
  transition: inherit;
  font-size: inherit;
  width: 100%;
  text-align: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.arrow {
  filter: invert(0);
  transition: inherit;
  margin-left: 2px;
}

.buttonInner:hover .arrow {
  filter: invert(1);
}
